header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto; /* vertical - lados */
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline; /* que ocupe el tamaño de su contenido*/
    margin: 0 0 0 15px; /* arriba abajo derecha izquierda*/
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold; /* El bold nos coloca el texto en negrita*/
    font-size: 22px;
    text-decoration: none; /* Nos quita el subrayado que tienen los links*/
}
