header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto; /* vertical - lados */
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline; /* que ocupe el tamaño de su contenido*/
    margin: 0 0 0 15px; /* arriba abajo derecha izquierda*/
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold; /* El bold nos coloca el texto en negrita*/
    font-size: 22px;
    text-decoration: none; /* Nos quita el subrayado que tienen los links*/
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;

}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0  1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /*Tamaño de la caja, y el border box indica que ubican en el borde de la caja*/
    border: 2px solid #000000; /* Forma abreviada de definir bordes*/
    border-radius: 10px; /*Le puedo agregar radio a cualquiera de los 4 bordes.*/
}
.productos li:hover {
    border-color: #ffb82b;
}

.productos li:active{
    border-color: #088c10;
}

.productos h2{
    font-size: 25px;
    font-weight: bold;
}
.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
}
.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    color: whitesmoke;
}

.copyright{
    color: whitesmoke;
    font-size: 13px;
    margin: 15px;
}